.spotify-bottom-player {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: rgba(18, 21, 28, 0.95);
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
  padding: 14px;
}

.spotify-bottom-player__close {
  position: absolute;
  right: 14px;
  top: 10px;
  background: $dark-bg;
  border: none;
  color: rgba(255, 255, 255, 0.75);
  font-size: 18px;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 10px;

  &:hover{
    background: red;
  }
}




