.header{
      border: 1px solid rgba(255, 255, 255, 0.08);

}


 .header-filters {
    display: flex;
    gap: 0.5rem;

    button {
      background: transparent;
      border: 1px solid rgba(255, 255, 255, 0.1);
      color: #cfd3dc;
      padding: 0.35rem 0.75rem;
      font-size: 0.8rem;
      border-radius: 4px;

      &.active {
        background-color: rgba(255, 255, 255, 0.08);
        color: #fff;
      }
    }
  }
