.header{
      border: 1px solid rgba(255, 255, 255, 0.08);

}


 .header-filters {
    display: flex;
    gap: 0.5rem;

    button {
      background: transparent;
      border: 1px solid rgba(255, 255, 255, 0.1);
      color: #cfd3dc;
      padding: 5px 10px;
      border-radius: 4px;

      &.active {
        background-color: rgba(255, 255, 255, 0.08);
        color: #fff;
      }
    }
  }
