@font-face {
    font-family: "Inter-Light", sans-serif;
    src: url("../assets/fontsInter/Inter-Light.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter-Regular", sans-serif;
    src: url("../assets/fonts/Inter-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter-Medium", sans-serif;
    src: url("fonts/Inter/Inter-Medium.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter-Semibold", sans-serif;
    src: url("../assets/fonts/Inter/Inter-SemiBold.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

.inter-regular {
    font-family: "Inter-Regular", sans-serif;
}

.inter-light {
    font-family: "Inter-Light", sans-serif;
}

.inter-medium {
    font-family: "Inter-Medium", sans-serif;
}

.inter-semibold {
    font-family: "Inter-Semibold", sans-serif;
}

.ivypresto-regular {
    font-family: "ivypresto-display";
    font-weight: 400;
}

.ivypresto-bold {
    font-family: "ivypresto-display";
    font-weight: 700;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "ivypresto-display", serif;
    font-weight: 400;
   
}

h1,
.h1 {
    font-size: 32px !important;
    line-height: 38px;

    @media (max-width: 991px) {
        font-size: 36px;
        line-height: 47px;
    }

      @media (max-width: 767px) {
        font-size: 24px !important;
        line-height: 29px;
    }
}

h2,
.h2 {
    font-size: 61px;
    line-height: 79.3px;

    @media (max-width: 767px) {
        font-size: 35px;
        line-height: 43.4px;
    }
}

h3,
.h3 {
    font-size: 48px;
    line-height: 67.2px;

    @media (max-width: 991px) {
        font-size: 28px;
        line-height: 36px;
    }
}

h4,
.h4 {
    font-size: 34px;
    line-height: 47.6px;
    @media (max-width: 991px) {
        font-size: 25px;
        line-height: 35px;
    }
}

h5,
.h5 {
    font-size: 31px;
    line-height: 46.5px;

    @media (max-width: 767px) {
        font-size: 20px;
        line-height: 30px;
    }
}

h6,
.h6 {
    font-size: 20px;
    line-height: 28px;
}



.font-size-10 {
    font-size: 10px;
}

.font-size-11 {
    font-size: 11px;
    line-height: 1.2;
}

.font-size-12 {
    font-size: 12px;
    line-height: 19.2px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-14 {
    font-size: 14px;
    line-height: 22.4px;

    @media only screen and (max-width: 767px) {
        font-size: 12px;
    }
}

.font-size-16 {
    font-size: 16px;
    line-height: 25.6px;

    @media only screen and (max-width: 991px) {
        // font-size: 14px;
    }
}

.font-size-18 {
    font-size: 18px;
    line-height: 28.8pxs;

    @media only screen and (max-width: 767px) {
        font-size: 16px;
    }
}

.font-size-20 {
    font-size: 20px;
    line-height: 32px;
}

.font-size-21 {
    font-size: 21px;
    line-height: 1.3;

    @media only screen and (max-width: 991px) {
        font-size: 19px;
    }

    @media only screen and (max-width: 767px) {
        font-size: 17px;
    }
}

.font-size-22 {
    font-size: 22px;
    line-height: 1.3;

    @media only screen and (max-width: 991px) {
        font-size: 20px;
    }

    @media only screen and (max-width: 767px) {
        font-size: 18x;
    }
}

.font-size-24 {
    font-size: 24px;

    @media only screen and (max-width: 991px) {
        font-size: 22px;
    }

    @media only screen and (max-width: 767px) {
        font-size: 20px;
    }

    @media only screen and (max-width: 767px) {
        font-size: 18px;
    }
}

.font-size-25 {
    font-size: 25px;
}

.font-size-26 {
    font-size: 26px !important;

    @media only screen and (max-width: 991px) {
        font-size: 24px !important;
    }
}

.font-size-30 {
    font-size: 30px !important;

    @media only screen and (max-width: 1400px) {
        font-size: 26px !important;
    }

    @media only screen and (max-width: 1200px) {
        font-size: 24px !important;
    }

    @media only screen and (max-width: 991px) {
        font-size: 22px !important;
    }

    @media only screen and (max-width: 767px) {
        font-size: 20px !important;
    }
}

.font-size-31 {
    font-size: 31px !important;
}

.font-size-32 {
    font-size: 32px !important;

    @media only screen and (max-width: 1400px) {
        font-size: 28px !important;
    }

    @media only screen and (max-width: 1200px) {
        font-size: 26px !important;
    }

    @media only screen and (max-width: 991px) {
        font-size: 24px !important;
    }

    @media only screen and (max-width: 767px) {
        font-size: 22px !important;
    }
}

.font-size-36 {
    font-size: 36px !important;

    @media only screen and (max-width: 1400px) {
        font-size: 32px;
    }

    @media only screen and (max-width: 1200px) {
        font-size: 28px !important;
    }

    @media only screen and (max-width: 991px) {
        font-size: 24px !important;
    }

    @media only screen and (max-width: 767px) {
        font-size: 22px !important;
    }
}

.font-size-39 {
    font-size: 39px !important;

    &.font-responsive-31 {
        @media (max-width: 768px) {
            font-size: 31px !important;
            line-height: 40.3px !important;
        }
    }
}

.font-responsive-31 {
    @media (max-width: 575px) {
        font-size: 31px !important;
        line-height: 40.3px !important;
    }
}

.font-responsive-32 {
    font-size: 32px !important;
    line-height: 40px !important;
}

.font-size-40 {
    font-size: 40px !important;

    @media only screen and (max-width: 1400px) {
        font-size: 36px !important;
    }

    @media only screen and (max-width: 1200px) {
        font-size: 32px !important;
    }

    @media only screen and (max-width: 991px) {
        font-size: 28px !important;
    }

    @media only screen and (max-width: 767px) {
        font-size: 24px !important;
    }
}

.font-size-48 {
    font-size: 48px;

    @media only screen and (max-width: 1200px) {
        font-size: 38px !important;
    }

    @media only screen and (max-width: 991px) {
        font-size: 34px !important;
    }

    @media only screen and (max-width: 767px) {
        font-size: 30px !important;
    }
}

.font-size-49 {
    font-size: 49px;

    &.font-responsive-35 {
        @media (max-width: 768px) {
            font-size: 35px;
        }
    }

    &.font-responsive-26 {
        @media (max-width: 768px) {
            font-size: 26px;
        }
    }
}

.font-size-61 {
    font-size: 61px;

    &.font-responsive-45 {
        @media (max-width: 768px) {
            font-size: 45px;
        }
    }
}

.font-size-72 {
    font-size: 72px;

    @media (max-width: 767px) {
        font-size: 40px;
    }
}

.font-size-93 {
    font-size: 93px;

    &.font-responsive-60 {
        @media (max-width: 768px) {
            font-size: 60px;
        }
    }
}

.text-red {
    color: var(--red) !important;
}

.text-dark {
    color: var(--dark) !important;
}

.text-white {
    color: var(--white) !important;

    svg {
        fill: none !important;

        path {
            fill: var(--white) !important;
        }
    }
}

.text-grey {
    color: #7a756c;
}





.bg-black {
    background: #000 !important;
}

.bg-transparent {
    background: transparent !important;
}





@keyframes reveal {
    from {
        clip-path: inset(0% 100% 0 0%);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes reveal-from-bottom {
    from {
        clip-path: inset(100% 0% 0 0%);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes reveal-from-right {
    from {
        clip-path: inset(0 0% 0 100%);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes unreveal {
    from {
        clip-path: inset(0% 0% 0 0%);
    }

    to {
        clip-path: inset(0 0% 0 100%);
    }
}



@keyframes letter-glow {
    0% {
        opacity: 0.5;
        text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
    }

    66% {
        opacity: 1;
        text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
    }

    77% {
        opacity: 1;
    }

    88% {
        opacity: 0.7;
        text-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
    }

    100% {
        opacity: 1;
    }
}

p {
    // margin-bottom: 30px;

    @media only screen and (max-width: 767px) {
        margin-bottom: 20px;
    }

    @media only screen and (max-width: 575px) {
        margin-bottom: 15px;
    }
}

.ls-1 {
    letter-spacing: 1px;
}

.ls-half {
    letter-spacing: 0.5px;
}

.ls-small {
    letter-spacing: 0.1px;
}

.ls-25 {
    letter-spacing: 0.25px;
}

.lh-none {
    line-height: 0 !important;
}

.lh-1 {
    line-height: 1 !important;
}

.lh-12 {
    line-height: 1.2 !important;
}

.lh-13 {
    line-height: 1.3 !important;
}

.lh-14 {
    line-height: 1.4 !important;
}

.lh-15 {
    line-height: 1.5 !important;
}

.lh-16 {
    line-height: 1.6 !important;
}


