// Χρώματα
$primary-bg: #252832;
$secondary-bg: #2C2F3A;
$text-primary: #FFFFFF;
$text-secondary: #B0B0B0;
$spotify-green: #1DB954;
$discogs-orange: #FF9900;
$beatport-blue: #0066FF;

/*CONTAINER*/
$containerWidth: 1278px;
$containerMediumSmallWidth: 848px;
$containerSmallWidth: 634px;
$gutter: 12px;
$row-gutter: -12px;
$mobile-gutter: 32px;
$mobile-row-gutter: -32px;




// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;